<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao.html}">
	<section layout:fragment="content">
		<form method="post" th:action="@{/Produtos}" th:object="${produto}">
			<input type="hidden" th:field="*{id}">
			<p><label for="descricao">Nome:</label></p>
			<p><input type="text" id="descricao" th:field="*{descricao}"></p>
			<p><label for="quantidade">Quantidade:</label></p>
			<p><input type="number" id="quantidade" th:field="*{quantidade}"></p>
			<p><label for="categoria">Categoria:</label></p>
			<p>
				<select name="categoria" th:field="*{categoria}">
					<option th:each="categoria : ${categorias}" 
						th:value="${categoria}" th:text="${categoria.descricaoCategoria}"></option>
				</select>
			</p>
			<button type="submit">Salvar</button>
		</form>
	</section>
</body>
</html>